[Desktop Entry]
Name=Hello Again
GenericName=Hello World App
Comment=Proves that we can use vala and gtk
Categories=Utility;Education;
Exec=com.github.warriopradeep.ele
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Hello;World;Example;